<!DOCTYPE html>
<html>
  <head>
    <title>Todorails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>ToDo Rails</h1>
      </div>
      <% if flash[:notice].present? %>
      <div class="alert alert-success"><%= flash[:notice] %></p></div>
      <% end %>
      <% if flash[:alert].present? %>
      <div class="alert alert-warning"><%= flash[:alert] %></p></div>
      <% end %>
      <% if flash[:errors].present? %>
      <div class="alert alert-danger"><%= flash[:errors] %></p></div>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
